{% include head.html %}

  <body>
  {% include navbar.html %}

  {% include posts_masthead.html %}

<script id="dsq-count-scr" src="//https-l1dge-github-io.disqus.com/count.js" async></script>
    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="post-title">{{ page.title }}</h2>
            <h4 id="post-published-date">Published: {{ page.date | date_to_string }}</h4>


            {{content}}

            {% if page.tags %}
              <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
            {% endif %}

            {% if page.comments == true %}
            {% include disqus.html %}
            {% endif %}
      </div>
  </div>
</div>

{% include footer.html %}
